/* Base styles and content styles */

@import 'variables.css';

:root {
    /* Browser default font-size is 16px, this way 1 rem = 10px */
    font-size: 62.5%;
}

html {
    font-family: "Open Sans", sans-serif;
    color: var(--fg);
    background-color: var(--bg);
    text-size-adjust: none;
}

body {
    margin: 0;
    font-size: 1.6rem;
    overflow-x: hidden;
}

code {
    font-family: "Source Code Pro", Consolas, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace, monospace !important;
    font-size: 0.875em; /* please adjust the ace font size accordingly in editor.js */
    border-radius: 6px;
}

/* Don't change font size in headers. */
h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
    font-size: unset;
}

.left {
    float: left;
}

.right {
    float: right;
}

.boring {
    opacity: 0.6;
}

.hide-boring .boring {
    display: none;
}

.hidden {
    display: none !important;
}

h2, h3 {
    margin-top: 2.5em;
}

h4, h5 {
    margin-top: 2em;
}

.header + .header h3,
.header + .header h4,
.header + .header h5 {
    margin-top: 1em;
}

h1 a.header:target::before,
h2 a.header:target::before,
h3 a.header:target::before,
h4 a.header:target::before {
    display: inline-block;
    content: "»";
    margin-left: -30px;
    width: 30px;
}

h1 a.header:target,
h2 a.header:target,
h3 a.header:target,
h4 a.header:target {
    scroll-margin-top: calc(var(--menu-bar-height) + 0.5em);
}

.page {
    outline: 0;
    padding: 0 var(--page-padding);
    margin-top: calc(0px - var(--menu-bar-height)); /* Compensate for the #menu-bar-hover-placeholder */
}

.page-wrapper {
    box-sizing: border-box;
}

.js:not(.sidebar-resizing) .page-wrapper {
    transition: margin-left 0.3s ease, transform 0.3s ease; /* Animation: slide away */
}

.content {
    padding: 0 15px;
}

.content main {
    max-width: 100%;
    width: var(--content-max-width);
    margin: 0 0 50px;
}

.content p {
    line-height: 1.45em;
}

.content ol {
    line-height: 1.45em;
}

.content ul {
    line-height: 1.45em;
}

.content a {
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}

.content img {
    max-width: 100%;
}

.content .header:link,
.content .header:visited {
    color: var(--fg);
}

.content .header:link,
.content .header:visited:hover {
    text-decoration: none;
}

.content .content-wrap {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: flex-start;
    max-width: 100%;
    width: calc(var(--right-bar-width) + var(--content-max-width) + 30px);
}

.content .right-bar-outer {
    width: var(--right-bar-width);
    height: calc(100vh - 30px - var(--menu-bar-height));
    position: -webkit-sticky;
    position: sticky;
    top: calc(var(--menu-bar-height) + 30px) !important;
    margin-left: 30px;
    margin-right: 0;
}

@media only screen and (max-width: 800px) {
    .content .right-bar-outer {
        display: none !important;
    }

    .content main {
        width: 100%;
    }
}

.toc {
    padding: 10px;
    width: 200px;
}

.toc ul {
    line-height: 2 !important;
    font-weight: 500;
    list-style: none;
    padding: 0;
    margin: 0;
}

.toc ul ul {
    padding-left: 2em;
}

.toc li a,
.toc li a:hover,
.toc li a:visited,
.toc li a:active {
    display: inline-block;
    color: var(--darken-fg) !important;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.toc li.visible > a,
.toc li.visible > a:hover,
.toc li.visible > a:visited,
.toc li.visible > a:active {
    color: var(--fg) !important;
    transform: translate(5px);
}

#toc-path {
    stroke: var(--fg);
}

.toc-marker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.toc-marker path {
    transition: all 0.3s ease;
}

.right-bar-outer p {
    margin: 0 0 5px;
    font-size: small;
}

.main-wrap p {
    margin: 5px 0 0;
    font-size: small;
}

.contributors {
    display: flex;
    flex-wrap: wrap;
}

.contributors img {
    border-radius: 50%;
}

.contributors a {
    margin: 3px;
}

.contributors .description {
    height: 29px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.contributors .description span {
    font-size: small;
}

.main-wrap .contributors {
    justify-content: flex-end;
}

.github-link {
    display: flex;
    flex-wrap: wrap;
}

.github-link a:hover {
    text-decoration: none;
}

.github-link .link-button,
.github-link .link-button:active,
.github-link .link-button:visited {
    color: var(--fg) !important;
    border: 1px solid var(--fg) !important;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 5px 6px 5px 0;
    font-size: small;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.github-link .link-button:hover {
    color: var(--bg) !important;
    background: var(--fg);
    border: 1px solid var(--fg) !important;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 5px 6px 5px 0;
    font-size: small;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.main-wrap {
    text-align: right;
}

.main-wrap .github-link {
    justify-content: flex-end;
}

.main-wrap .github-link .link-button,
.main-wrap .github-link .link-button:active,
.main-wrap .github-link .link-button:visited {
    margin: 10px 0 0 6px;
}

.main-wrap .github-link .link-button:hover {
    margin: 10px 0 0 6px;
}

@media only screen and (min-width: 800px) {
    .main-wrap {
        display: none !important;
    }
}

@media only screen and (min-width: 500px) {
    .mobile-show {
        display: none !important;
    }
}

@media only screen and (max-width: 500px) {
    .mobile-hide {
        display: none !important;
    }
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

table td {
    padding: 3px 20px;
    border: 1px var(--table-border-color) solid;
}

table thead {
    background: var(--table-header-bg);
}

table thead td {
    font-weight: 700;
    border: none;
}

table thead th {
    padding: 3px 20px;
}

table thead tr {
    border: 1px var(--table-header-bg) solid;
}

/* Alternate background colors for rows */
table tbody tr:nth-child(2n) {
    background: var(--table-alternate-bg);
}


blockquote {
    margin: 20px 0;
    padding: 0 20px;
    color: var(--fg);
    background-color: var(--quote-bg);
    border-top: .1em solid var(--quote-border);
    border-bottom: .1em solid var(--quote-border);
}


:not(.footnote-definition) + .footnote-definition,
.footnote-definition + :not(.footnote-definition) {
    margin-top: 2em;
}

.footnote-definition {
    font-size: 0.9em;
    margin: 0.5em 0;
}

.footnote-definition p {
    display: inline;
}

.tooltiptext {
    position: absolute;
    visibility: hidden;
    color: #fff;
    background-color: #333;
    transform: translateX(-50%); /* Center by moving tooltip 50% of its width left */
    left: -8px; /* Half of the width of the icon */
    top: -35px;
    font-size: 0.8em;
    text-align: center;
    border-radius: 6px;
    padding: 5px 8px;
    margin: 5px;
    z-index: 1000;
}

.tooltipped .tooltiptext {
    visibility: visible;
}

.chapter li.part-title {
    color: var(--sidebar-fg);
    margin: 5px 0px;
    font-weight: bold;
}
