@import 'variable.css';

@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/eot/JetBrainsMono-Regular.eot') format('embedded-opentype'),
    url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
    url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/woff/JetBrainsMono-Regular.woff') format('woff'),
    url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/ttf/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    -webkit-font-feature-settings: "liga" on, "calt" on;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

html {
    font-family: "Open Sans", sans-serif;
    color: var(--fg);
    background: var(--bg);
}

body {
    margin: 0;
    font-size: 16px;
    overflow-x: hidden;
}

code {
    background: var(--bg) !important;
    font-family: 'JetBrains Mono', monospace !important;
    font-size: 14px;
    border-radius: 3px;
    padding: 1px 3px;
    margin: 0 2px;
    border: 1px solid var(--darken-fg);
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
    font-size: unset;
}

pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

h2, h3 {
    margin-top: 2.5em;
}

h4, h5 {
    margin-top: 2em;
}

h5, h6 {
    font-size: 16px;
}

.header + .header h3,
.header + .header h4,
.header + .header h5 {
    margin-top: 1em;
}

a.header:target::before {
    display: inline-block;
    content: "»";
    margin-left: -30px;
    width: 30px;
}

a:target {
    scroll-margin-top: calc(var(--top-bar-height) + 0.5em);
}

main a:link,
main a:visited,
main a:active,
main a > .hljs {
    color: var(--link);
}

.content a {
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
}

.no-link {
    color: #da6060 !important;
}

.outer {
    color: var(--outer-link) !important;
    background-image: url("/r/img/link-dark.svg");
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 14px;
    margin-right: 6px;
}

main p {
    line-height: 1.45em;
}

main ol {
    line-height: 1.45em;
    padding-left: 1em;
}

main ol ol {
    padding-left: 1.5em;
}

main ul {
    line-height: 1.45em;
    padding-left: 1.5em;
}

main ul ul {
    padding-left: 1.5em;
}

main li {
    margin-top: 1em;
    margin-bottom: 1em;
}

main li p {
    margin-block-start: 0;
    margin-block-end: 0;
}

main a:hover {
    text-decoration: underline;
}

main img {
    margin: 20px auto 20px 0;
    max-width: 60%;
}

main .header:link,
main .header:visited {
    color: var(--fg);
}

main .header:hover,
main .header:link,
main .header:visited:hover {
    text-decoration: none;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    box-sizing: border-box;
}

table td {
    padding: 3px 20px;
    border: 1px var(--fg) solid;
}

table thead {
    background: var(--fg);
    color: var(--bg);
}

table thead td {
    font-weight: 700;
    border: none;
}

table thead th {
    padding: 3px 20px;
    border-right: 1px var(--bg) solid;
}

table thead th:last-child {
    border-right: 1px var(--fg) solid;
}

blockquote {
    margin: 20px 0;
    padding: 0 20px;
    color: var(--fg);
    background-color: var(--quote-bg);
    border-left: 3px solid var(--quote-side);
    border-bottom: 1px solid var(--darken-fg);
    border-top: 1px solid var(--darken-fg);
    border-right: 1px solid var(--darken-fg);
}

.footnote-reference a {
    text-decoration: none;
}

.footnote-reference a::before {
    content: "[";
}

.footnote-reference a::after {
    content: "]";
}

:not(.footnote-definition) + .footnote-definition,
.footnote-definition + :not(.footnote-definition) {
    margin-top: 2em;
}

.footnote-definition {
    font-size: 0.9em;
    margin: 0.5em 0;
}

.footnote-definition p {
    display: inline;
}

.footnote-definition-label a {
    text-decoration: none;
}

.footnote-definition-label a::before {
    content: "[";
}

.footnote-definition-label a::after {
    content: "]";
}

.footnote-reference:hover .top {
    display: block;
}

.tippy-box[data-theme~='footnote'] {
    background-color: var(--bg);
    background-clip: padding-box;
    border: 1px var(--fg) solid;
    color: var(--fg);
}

.tippy-box-backdrop[data-theme~='footnote'] {
    background-color: var(--bg);
}

.tippy-box[data-theme~='footnote'][data-placement~='top'] .tippy-arrow::before {
    border-top-color: var(--bg);
}

.tippy-box[data-theme~='footnote'][data-placement~='top'] .tippy-arrow::after {
    content: '';
    position: absolute;
    border-color: transparent;
    border-style: solid;
    z-index: -1;
    top: 17px;
    border-top-color: var(--fg);
    border-width: 8px 8px 0;
    left: 0;
}

.tippy-box[data-theme~='footnote'][data-placement~='bottom'] .tippy-arrow::before {
    border-bottom-color: var(--bg);
    bottom: 16px;
}

.tippy-box[data-theme~='footnote'][data-placement~='bottom'] .tippy-arrow::after {
    content: '';
    position: absolute;
    border-color: transparent;
    border-style: solid;
    z-index: -1;
    bottom: 17px;
    border-bottom-color: var(--fg);
    border-width: 0 8px 8px;
    left: 0;
}
