@import 'variable.css';

@font-face {
    font-family: 'JetBrainsMono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

* {
    -webkit-font-feature-settings: "liga" on, "calt" on;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

html {
    font-size: 62.5%;
    color: var(--c-3-0);
    background: var(--c-1-0);
    font-family: "Open Sans", sans-serif;
    max-width: 100%;
}

body {
    font-size: 1.6em;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    padding: 0;
}

.page {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.top-bar-w {
    background: var(--c-1-1);
    border-top: 5px solid var(--c-2-0);
    box-shadow: 0 0 12px -1px #00000088;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    margin: 0;
    padding: 4px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100001;
}

.top-bar {
    display: flex;
    height: 100%;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    width: 880px;
}

.logo {
    height: 33px;
    margin: 3px 0;
}

.search-w {
    background: var(--c-1-4);
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin: 2px;
    overflow: hidden;
    position: absolute;
    right: 37px;
    transition: all 0.2s cubic-bezier(.08, .83, .53, .99);
    top: 0;
    width: 33px;
    z-index: 100002;
}

.search-w:hover {
    border: 0;
    box-shadow: 0 3px 6px 1px #00000066;
}

.search-w.expand {
    box-shadow: 0 3px 6px 1px #00000066;
    max-width: calc(100% - 6px);
    width: 300px;
}

.search-input-w {
    box-sizing: border-box;
    height: 33px;
    padding: 2px 4px;
    width: 267px;
}

.search-input-w.hide {
    display: none;
}

.search-input-w input {
    background: transparent;
    border: 0;
    color: var(--c-3-0);
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    height: 25px;
    outline: 0;
    width: 259px;
}

.search {
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    height: 33px;
    margin-left: auto;
    padding: 2px;
    width: 33px;
}

.icon-w {
    margin: auto;
}

.search-result-w {
    margin: 0;
    padding: 4px 3px;
    width: 100%;
}

.search-result-w.hide {
    display: none;
}

.search-result {
    padding-top: 5px;
}

.search-result div {
    border-radius: 3px;
    cursor: pointer;
    padding: 3px;
}

.selected {
    background: var(--c-1-7);
}

.theme-w {
    display: flex;
    width: 33px;
    height: 33px;
    background: var(--c-3-0);
    color: var(--c-1-0);
    border-radius: 17px;
    margin: 2px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    flex-wrap: wrap;
    transition: all 0.2s cubic-bezier(.08, .83, .53, .99);
    cursor: pointer;
}

.theme-w:hover {
    background: var(--c-1-0);
    color: var(--c-3-0);
}

.theme {
    margin: auto
}

.content-w {
    outline: 0;
    padding: 0 25px;
}

.content {
    align-items: flex-start;
    display: flex;
    margin: 0 auto;
    max-width: 100%;
    width: 910px;
}

.main {
    margin-top: 20px;
    max-width: 100%;
    width: 630px;
}

.header p {
    font-size: small;
    margin: 5px 0 0;
    text-align: right;
}

.header .gh-buttons {
    justify-content: flex-end;
}

.gh-buttons {
    display: flex;
    flex-wrap: wrap;
}

.gh-buttons a,
.gh-buttons a:visited,
.gh-buttons a:link,
.gh-buttons a:active,
.gh-buttons a:hover {
    text-decoration: none;
}

.gh-buttons .button,
.gh-buttons .button:visited,
.gh-buttons .button:active {
    border: 1px solid var(--c-3-0) !important;
    border-radius: 3px;
    color: var(--c-3-0) !important;
    font-size: small;
    margin: 5px 6px 5px 0;
    padding: 5px 10px;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.gh-buttons .button:hover {
    background: var(--c-3-0);
    color: var(--c-1-0) !important;
}

.header .contributors {
    justify-content: flex-end;
}

.contributors {
    display: flex;
    flex-wrap: wrap;
}

.contributors img {
    border-radius: 50%;
}

.contributors a {
    margin: 3px;
}

.contributors .description {
    height: 29px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.contributors .description span {
    font-size: small;
}

main {
    margin-bottom: 50px;
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
    font-size: unset;
}

h2, h3 {
    margin-top: 2.5em;
}

h4, h5 {
    margin-top: 2em;
}

h5, h6 {
    font-size: 1.6em;
}

.heading:target::before {
    content: "»";
    display: inline-block;
    margin-left: -30px;
    width: 30px;
}

.heading {
    color: var(--c-3-0);
    width: 100%;
}

.heading:hover {
    text-decoration: none;
}

main p {
    line-height: 1.45em;
}

main a,
main a:link,
main a:active,
main a:visited {
    color: var(--link);
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
}

main a:target {
    scroll-margin-top: calc(50px + 0.5em);
}

.no-link {
    color: #da6060 !important;
}

.outer {
    color: var(--outer-link) !important;
    background-image: url("/r/img/link-dark.svg");
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 14px;
    margin-right: 6px;
}

main img {
    max-width: 100%;
}

main ol {
    line-height: 1.45em;
    padding-left: 1em;
}

main ol ol {
    padding-left: 1.5em;
}

main ul {
    line-height: 1.45em;
    padding-left: 1em;
}

main ul ul {
    padding-left: 1.5em;
}

main li {
    margin-top: 1em;
    margin-bottom: 1em;
}

main li + p {
    margin-block-start: 0;
    margin-block-end: 0;
}

code {
    background: var(--c-1-0) !important;
    border: 1px solid var(--c-1-6);
    border-radius: 3px;
    font-family: 'JetBrains Mono', monospace !important;
    font-size: 14px;
    margin: 0 2px;
    padding: 1px 3px;
}

pre {
    overflow-x: auto;
    tab-size: 4;
}

table {
    border-collapse: collapse;
    box-sizing: border-box;
    margin: 0 auto;
    margin-block-end: 1em;
    margin-block-start: 1em;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

table td {
    border-bottom: 1px var(--c-1-9) solid;
    border-left: 1px var(--c-1-9) solid;
    border-right: 1px var(--c-1-9) solid;
    padding: 3px 20px;
}

table thead {
    background: var(--c-2-5);
    color: var(--c-1-0);
}

table thead td {
    border: none;
    font-weight: 700;
}

table thead th {
    border-bottom: 1px var(--c-2-5) solid;
    border-right: 1px var(--c-1-0) solid;
    padding: 3px 20px;
}

table thead th:last-child {
    border-right: 1px var(--c-2-5) solid;
}

blockquote {
    background-color: var(--quote-bg);
    border-bottom: 1px solid var(--c-1-9);
    border-left: 3px solid var(--quote-side);
    border-right: 1px solid var(--c-1-9);
    border-top: 1px solid var(--c-1-9);
    color: var(--c-3-0);
    margin: 20px 0;
    padding: 0 20px;
}

.footnote-reference a {
    text-decoration: none;
}

.footnote-reference a::before {
    content: "[";
}

.footnote-reference a::after {
    content: "]";
}

:not(.footnote-definition) + .footnote-definition,
.footnote-definition + :not(.footnote-definition) {
    margin-top: 2em;
}

.footnote-definition {
    font-size: 0.9em;
    margin: 0.5em 0;
}

.footnote-definition p {
    display: inline;
}

.footnote-definition-label a {
    text-decoration: none;
}

.footnote-definition-label a::before {
    content: "[";
}

.footnote-definition-label a::after {
    content: "]";
}

.footnote-reference:hover .top {
    display: block;
}

.tippy-box[data-theme~='footnote'] {
    background-clip: padding-box;
    background-color: var(--c-1-0);
    border: 1px var(--c-1-9) solid;
    color: var(--c-3-0);
}

.tippy-box-backdrop[data-theme~='footnote'] {
    background-color: var(--c-1-0);
}

.tippy-box[data-theme~='footnote'][data-placement~='top'] .tippy-arrow::before {
    border-top-color: var(--c-1-0);
}

.tippy-box[data-theme~='footnote'][data-placement~='top'] .tippy-arrow::after {
    border-color: transparent;
    border-style: solid;
    border-top-color: var(--c-1-9);
    border-width: 8px 8px 0;
    content: '';
    left: 0;
    position: absolute;
    top: 17px;
    z-index: -1;
}

.tippy-box[data-theme~='footnote'][data-placement~='bottom'] .tippy-arrow::before {
    border-bottom-color: var(--c-1-0);
    bottom: 16px;
}

.tippy-box[data-theme~='footnote'][data-placement~='bottom'] .tippy-arrow::after {
    content: '';
    position: absolute;
    border-color: transparent;
    border-style: solid;
    z-index: -1;
    bottom: 17px;
    border-bottom-color: var(--c-1-9);
    border-width: 0 8px 8px;
    left: 0;
}

.side-bar {
    height: calc(100vh - 80px);
    margin-left: 30px;
    position: sticky;
    top: 80px;
    width: 250px;
}

.side-bar p {
    font-size: small;
    margin: 0 0 5px;
}

.toc {
    padding: 10px;
    width: 200px;
}

.toc ul {
    font-weight: 500;
    line-height: 2 !important;
    list-style: none;
    margin: 0;
    padding: 0;
}

.toc ul ul {
    padding-left: 1em;
}

.toc li a,
.toc li a:visited,
.toc li a:active {
    color: var(--c-3-7) !important;
    display: inline-block;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.toc li a:hover {
    color: var(--c-3-8) !important;
}

.toc li.visible > a,
.toc li.visible > a:visited,
.toc li.visible > a:active {
    color: var(--c-3-0) !important;
    transform: translate(5px);
}

.toc li.visible > a:hover {
    color: var(--c-3-1) !important;
}

#toc-path {
    stroke: var(--c-2-1);
}

.toc-marker {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.toc-marker path {
    transition: all 0.3s ease;
}

@media only screen and (min-width: 911px) {
    .hl {
        display: none !important;
    }
}

@media only screen and (max-width: 910px) and (min-width: 501px) {
    .hm {
        display: none !important;
    }

    .main {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .hs {
        display: none !important;
    }
}