@import 'variable.css';

.page {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-bar {
    margin: 0;
    padding: 4px;
    width: 100%;
    height: var(--top-bar-height);
    position: sticky;
    top: 0;
    left: 0;
    border-top: 5px solid var(--point);
    border-bottom: 1px solid var(--darken-fg);
    background: var(--bg);
    z-index: 1001;
    box-sizing: border-box;
}

.top-bar-wrap {
    position: relative;
    width: calc(var(--content-max-width) + var(--right-bar-width) + 30px);
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.search-bar-wrap {
    width: 300px;
    margin: 2px 0 1px auto;
    border: 1px var(--fg) solid;
    border-radius: 8px;
    display: flex;
    overflow: hidden;
    z-index: 1001;
}

.input-wrap {
    width: 272px;
    border: 0;
    padding: 0;
    margin: 0;
}

.input-wrap input {
    width: 260px;
    font-size: 15px;
    background: transparent;
    color: var(--fg);
    padding: 5px 5px 5px 8px;
    border: 0;
    outline: none;
    font-family: "Open Sans", sans-serif;
}

.icon-wrap {
    margin: 0;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.icon-wrap i {
    padding: 7px;
    font-size: 16px;
    color: var(--bg);
    background: var(--fg);
    cursor: pointer;
}

.icon-mobile-toggle {
    margin: 2px 0 1px auto;
    padding: 2px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    background: var(--fg);
    text-align: center;
    cursor: pointer;
}

.icon-mobile-toggle i {
    color: var(--bg);
    background: var(--fg);
    margin: auto;
    vertical-align: middle;
}

.search-mobile-wrap {
    position: relative;
    display: none;
    width: 100%;
    margin-top: 20px;
}

.search-bar-mobile-wrap {
    border: 1px var(--fg) solid;
    border-radius: 8px;
    display: flex;
    overflow: hidden;
}

.input-mobile-wrap {
    width: calc(100% - 30px);
    border: 0;
    padding: 0;
    margin: 0;
}

.input-mobile-wrap input {
    width: 100%;
    font-size: 15px;
    background: transparent;
    color: var(--fg);
    padding: 5px 5px 5px 8px;
    border: 0;
    outline: none;
    font-family: "Open Sans", sans-serif;
}

.icon-mobile-wrap {
    margin: 0;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.icon-mobile-wrap i {
    padding: 7px;
    font-size: 16px;
    color: var(--bg);
    background: var(--fg);
    cursor: pointer;
}

.search-result-wrap {
    position: absolute;
    top: 38px;
    right: 0;
    width: 302px;
}

.search-result {
    width: 300px;
    border-radius: 8px;
    border: 1px var(--fg) solid;
    background: var(--bg);
    color: var(--fg);
    overflow: hidden;
}

.search-result div {
    padding: 5px 8px;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    outline: none;
    cursor: pointer;
}

.search-result .selected {
    background: var(--darken-fg);
}

.search-result-mobile-wrap {
    position: absolute;
    top: 38px;
    left: 0;
    width: calc(100% - 2px);
}

.search-result-mobile {
    width: 100%;
    border-radius: 8px;
    border: 1px var(--fg) solid;
    background: var(--bg);
    color: var(--fg);
    overflow: hidden;
}

.search-result-mobile div {
    padding: 5px 8px;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    outline: none;
    cursor: pointer;
}

.search-result-mobile .selected {
    background: var(--darken-fg);
}

.page-wrap {
    outline: 0;
    padding: 0 calc(var(--page-padding) + 10px);
    margin-top: calc(0 - var(--top-bar-height));
}

.content {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: flex-start;
    max-width: 100%;
    width: calc(var(--right-bar-width) + var(--content-max-width) + 30px);
}

.sidebar-wrap {
    width: var(--right-bar-width);
    height: calc(100vh - 30px - var(--top-bar-height));
    position: -webkit-sticky;
    position: sticky;
    top: calc(var(--top-bar-height) + 30px) !important;
    margin-left: 30px;
    margin-right: 0;
}

.mobile-info {
    text-align: right;
}

.mobile-info p {
    margin: 5px 0 0;
    font-size: small;
}

.mobile-info .github-link {
    justify-content: flex-end;
}

.mobile-info .github-link .link-button,
.mobile-info .github-link .link-button:active,
.mobile-info .github-link .link-button:visited {
    margin: 10px 0 0 6px;
}

.mobile-info .github-link .link-button:hover {
    margin: 10px 0 0 6px;
}

.mobile-info .contributors {
    justify-content: flex-end;
}

main {
    max-width: 100%;
    width: var(--content-max-width);
    margin: 0 0 50px;
}

.toc {
    padding: 10px;
    width: 200px;
}

.toc ul {
    line-height: 2 !important;
    font-weight: 500;
    list-style: none;
    padding: 0;
    margin: 0;
}

.toc ul ul {
    padding-left: 1em;
}

.toc li a,
.toc li a:hover,
.toc li a:visited,
.toc li a:active {
    display: inline-block;
    color: var(--darken-fg) !important;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.toc li.visible > a,
.toc li.visible > a:hover,
.toc li.visible > a:visited,
.toc li.visible > a:active {
    color: var(--fg) !important;
    transform: translate(5px);
}

#toc-path {
    stroke: var(--fg);
}

.toc-marker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.toc-marker path {
    transition: all 0.3s ease;
}

.sidebar-wrap p {
    margin: 0 0 5px;
    font-size: small;
}

.contributors {
    display: flex;
    flex-wrap: wrap;
}

.contributors img {
    border-radius: 50%;
}

.contributors a {
    margin: 3px;
}

.contributors .description {
    height: 29px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.contributors .description span {
    font-size: small;
}

.github-link {
    display: flex;
    flex-wrap: wrap;
}

.github-link a:hover {
    text-decoration: none;
}

.github-link .link-button,
.github-link .link-button:active,
.github-link .link-button:visited {
    color: var(--fg) !important;
    border: 1px solid var(--fg) !important;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 5px 6px 5px 0;
    font-size: small;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.github-link .link-button:hover {
    color: var(--bg) !important;
    background: var(--fg);
    border: 1px solid var(--fg) !important;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 5px 6px 5px 0;
    font-size: small;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

@media only screen and (max-width: 880px) {
    .sidebar-wrap {
        display: none !important;
    }

    main, .main-wrap, .top-bar-wrap {
        width: 100%;
    }
}

@media only screen and (min-width: 881px) {
    .mobile-info {
        display: none !important;
    }
}

@media only screen and (min-width: 501px) {
    .mobile-show {
        display: none !important;
    }

    .icon-mobile-toggle {
        display: none !important;
    }
}

@media only screen and (max-width: 500px) {
    .mobile-hide {
        display: none !important;
    }

    .search-bar-wrap {
        display: none !important;
    }

    .search-result-wrap {
        display: none !important;
    }
}
