.dark {
    --c-1-0: #1F1F20;
    --c-1-1: #252527;
    --c-1-2: #2C2C2D;
    --c-1-3: #323234;
    --c-1-4: #39393A;
    --c-1-5: #3F3F41;
    --c-1-6: #464647;
    --c-1-7: #4C4C4E;
    --c-1-8: #535354;
    --c-1-9: #59595B;

    --c-2-0: #4D3C88;
    --c-2-1: #5C4B94;
    --c-2-2: #6A5BA0;
    --c-2-3: #796AAC;
    --c-2-4: #887AB8;
    --c-2-5: #9689C3;
    --c-2-6: #A599CF;
    --c-2-7: #B4A8DB;
    --c-2-8: #C2B8E7;
    --c-2-9: #D1C7F3;

    --c-3-0: #b4b4b4;
    --c-3-1: #AAAAAA;
    --c-3-2: #A0A0A0;
    --c-3-3: #969696;
    --c-3-4: #8C8C8C;
    --c-3-5: #818183;
    --c-3-6: #777779;
    --c-3-7: #6D6D6F;
    --c-3-8: #636365;
    --c-3-9: #59595B;

    --link: #4d83bc;
    --point: #4d3c88;
    --quote-bg: #2d2d29;
    --quote-side: #a79d68;
    --outer-link: #af8754;
    --search-bg: #434345;
    --top-bg: #272628;
    --table-bg: #796da6;
}